<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 col-12 mt-4 order-md-1">
      <h2 class="fs-1 fw-semibold fs-md-2 mt-4">The First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
      <p class="lead fw-normal fs-md-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nesciunt dignissimos est veniam doloribus dolore amet, quaerat, quo consequatur minus harum numquam praesentium odit. Quod distinctio quis iusto quia molestiae?</p>
    </div>
    <div class="col-md-4 col-12 pt-md-5 order-md-2 text-center">
      <img src="website1/assets/img/1.jpg" class="rounded-circle img-fluid"/>
    </div>
  </div>
</div>
    
     
  

