<div class="container">
  <div class="row">  
    <div class="col-8">
     <div class="texto mt-4"> 
     </br>
     </br>
     </br>
        <h2 class="fs-1 fw-semibold">The First Heading <span class="text-secondary">Will Catch Your Eye</span></h2> 
        <p class="lead fw-normal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nesciunt dignissimos est veniam doloribus dolore amet, quaerat, quo consequatur minus harum numquam praesentium odit. Quod distinctio quis iusto quia molestiae?</p>
      </div>
    </div>
    <div class="col-4 mt-5 pt-5">
      <img src="website1/assets/img/1.jpg" alt=keyboard"
        class="rounded-circle object-fit-cover "
        height="350"
        width="320"">
      </div>
  </div>

