<div class="container">
  <div id="services"></div>
  <div class="row">
    <div class="col-3 pt-5">
      <img src="website1/assets/img/2.jpg" 
      alt="keyboard"
      class="rounded-circle object-fit-cover "
      height="300"
      width="300"/>
    </div>
    <div class="col-9 pt-4">
    </br>
  </br>
      <h2 class="fs-1 fw-semibold"> The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
      <p class="lead fw-normal"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus! Fugit commodi dolor assumenda ipsum recusandae provident quo accusantium eos iusto, unde autem praesentium libero! Odit id reprehenderit sit sed!</p>
    </div>
  </div>
</div>